.container{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    background-color: blue;
}

.container div{
    background-color: red;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}